.f {
    background-color: black;
}
.s {
    background-color: blueviolet;
}
.t {
    background-color: pink;
}



.first {
    background-color: blue;
}
.second {
    background-color: red;
}
.third {
    background-color: aquamarine;
}